body {
    background-color: rgb(71, 127, 177);
    margin: 0;
    font-family: "Poppins";
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(35, 55, 97);
}
li {
    float: left;
}
li a{
    display: block;
    color: azure;
    text-align: center;
    font-size: large;
    padding: 14px 16px;
    margin-left: 20px;
    font-family: "Poppins";
    text-decoration: none;
}
h1, p {
    text-align: center;
    color: antiquewhite;
}
.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 20%;
}
/* .buttons {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    position: absolute;
    top: 50%;
  } */
button {
    margin:auto;
    display:block;
  }
/* .wrapper {
    text-align: center;
}
.button1 {
    background-color: #04AA6D; 
    color: white; 
    border: 2px solid #04AA6D;
}
  
.button1:hover {
    background-color: black;
    color: white;
} */